.input-block {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.input-block label {
  font-size: 1.4rem;
  color: #333;
  font-weight: bold;
}

.input-block input {
  font-size: 1.5rem;
  border: 0;
  border-radius: 4px;
  background-color: #ddd;
  padding: 10px;
  color: #333;
}
.input-block textarea {
  font-size: 1.5rem;
  border: 0;
  border-radius: 4px;
  background-color: #ddd;
  padding: 10px;
  min-height: 200px;
  resize: none;
}
